<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TrackerIP" value="161.24.24.200"/>
    <add key="TrackerPort" value="30000"/>
    <add key="LocalIP" value="161.24.24.222"/>
    <add key="LocalPort" value="40000"/>
    <add key="BaseFolder" value="C:\Users\Felipe\ITA\COMP 2.2\CES-27 Hirata\BaseFolder"/>
  </appSettings>
</configuration>